<% provide(:title,'Help') %>
<h1>My help page</h1>
<div class="center hero-unit">
	<p style="background:#dceec2;color:#000;opacity:0.6;width:500px;margin-left:100px;padding:50px;border-radius:10px">The page is under construction</p>
</div>