<% provide(:title,'Home') %>
<div class="center hero-unit">
<h1>My home page</h1>
<h2>This is the home page for <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	</h2>
<%=link_to "Sign-Up",signup_path,class:'btn btn-large btn-primary'%>
</div>


