<div class="row">
	<div class="span8" style="background:#fff;border-radius:5px;padding:15px">
<h1><%=image_tag 'vivek123.jpg',class:'gravatar'%></h1>
<h1 style="text-align:left">About the author</h1>
<p>Hello everyone,my name is Vivek Nayyar.I am a final year engineering student.This blog is all about ruby on rails.This is my website using ruby on rails.Hope you all liked it.Please dont forget to follow us at twitter and like us at facebook.We will continue to provide more information about ruby on rails.</p>
</div>
</div>