<div class="fb-like-box" data-href="http://www.facebook.com/coding.anna" data-width="280" data-height="280" data-show-faces="true" data-stream="false" data-header="true" style="margin-top:20px"></div>
