<head>
<!--script type="text/javascript">
$(function() {
$(".myscroll").jCarouselLite({
        vertical: true,
        visible: 3,
        auto:500,
        speed:1000,
    pauseOnHover: true // This is the configuration parameter

    
    });
});
</script-->
</head>
<h3>Recent posts</h3>
<div class="myscroll">
<%@posts.each do |post| %>

	<ol style="background:#fff;padding:10px;">
		<span><%=link_to post.title,post %></span><br>
		<span>By:<%=link_to post.user.name,post.user %></span><br>
	</ol>
	<%end%>
	</div>